header-list, .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header-link, header-button, .gallery-description, .gallery-btn, .gallery-button {
  font-size: 14px;
  line-height: 1.36;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  color: #626262;
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

header {
  padding-top: 71px;
  padding-bottom: 92px;
}

header-item {
  margin-left: 100px;
  -webkit-transition: -webkit-transform 500ms linear 250ms;
  transition: -webkit-transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms;
  transition: transform 500ms linear 250ms, -webkit-transform 500ms linear 250ms;
}

header-item:first-child {
  margin-left: 0;
}

header-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header-link {
  color: #7D7D7D;
}

header-link:hover {
  color: #03A9F4;
}

header-button {
  color: red;
  display: block;
  width: 165px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-transform 1s linear 250ms;
  transition: -webkit-transform 1s linear 250ms;
  transition: transform 1s linear 250ms;
  transition: transform 1s linear 250ms, -webkit-transform 1s linear 250ms;
  border-radius: 50%;
}

main {
  width: 906px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 66px;
}

.gallery-item {
  width: 420px;
  margin-bottom: 130px;
}

.gallery-item:nth-child(2n) {
  margin-left: 65px;
}

.gallery-item:hover {
  -webkit-box-shadow: 2px 1px 5px #06b8f4, 2px 2px 0px #e2f207, 0px 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 5px #06b8f4, 2px 2px 0px #e2f207, 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.gallery-name {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: #B4AD9E;
  margin-top: 32px;
  margin-bottom: 32px;
}

.gallery-title {
  font-size: 30px;
  line-height: 1.33;
  color: #626262;
}

.gallery-description {
  color: #626262;
  margin-top: 40px;
}

.gallery-btn {
  color: blue;
  display: block;
  width: 165px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-transform 1s linear 250ms;
  transition: -webkit-transform 1s linear 250ms;
  transition: transform 1s linear 250ms;
  transition: transform 1s linear 250ms, -webkit-transform 1s linear 250ms;
  border-radius: 5px;
}

.gallery-button {
  color: green;
  display: block;
  width: 165px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-transform 1s linear 250ms;
  transition: -webkit-transform 1s linear 250ms;
  transition: transform 1s linear 250ms;
  transition: transform 1s linear 250ms, -webkit-transform 1s linear 250ms;
  border-radius: 7px;
}

.gallery-button:hover {
  border-radius: 5px;
  background-color: #03A9F4;
  color: yellow;
  border: none;
  padding: 10px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/*# sourceMappingURL=main.css.map */