main {
  width: 906px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 66px;
}

.gallery-list {
  @extend %flex;
}

.gallery-item {
  width: 420px;
  margin-bottom: 130px;
}

.gallery-item:nth-child(2n) {
  margin-left: 65px;
}

.gallery-item:hover {
  box-shadow: 2px 1px 5px rgb(6, 184, 244), 2px 2px 0px rgb(226, 242, 7),
    0px 2px 8px rgba(0, 0, 0, 0.2);
}

.gallery-name {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color:$secondary-text-color;

  margin-top: 32px;
  margin-bottom: 32px;
}

.gallery-title {
  font-size: 30px;
  line-height: 1.33;
  color:$main-texts-color;
}

.gallery-description {
  @extend %text;
  color: $main-texts-color;
  margin-top: 40px;
}

.gallery-btn{
  @include button($button-color: blue, $button-border-radius: 5px);
  @extend %text;
}

.gallery-button {
  @include button($button-color: green, $button-border-radius: 7px);
  @extend %text;
}

.gallery-button:hover {
  border-radius: 5px;
  background-color: $accent-color;
  color: yellow;
  border: none;
  padding: 10px;
  transform: rotate(360deg);
}
