header {
  padding-top: 71px;
  padding-bottom: 92px;

  &-list {
    @extend %flex;
  }

  &-item {
    margin-left: 100px;
    transition: transform 500ms linear 250ms;
    &:first-child {
      margin-left: 0;
    }
  
    &:hover {
      transform: scale(1.5);
    }
  }

  &-link {
    @extend %text;
    color:$navigation-links-color;
  
    &:hover {
      color: $accent-color;
    }
    
  }
  
  &-button{
    @include button($button-color: red, $button-border-radius: 50%);
    @extend %text;
  }
  
}









